<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Analytics</title>
  </head>
  <body class="dark:bg-gray-900 dark:text-white min-h-screen">
    {% include 'navbar.html' %}

    <div class="px-4 sm:px-6 lg:px-8 mt-8 container mx-auto">
      <h1 class="text-3xl font-bold mb-6">Analytics Page</h1>
      <p class="text-lg">This is where analytics content will go.</p>
    </div>
  </body>
</html>
